<footer>
  <div class="footer-content">
    <p>&copy; Masaabu</p>
  </div>
</footer>
<script>
  const footer = document.querySelector("footer>.footer-content")
  const contents = {
    Pages: [
      { name: "{{ 'commands' |i18n}}", link: "/{{ page.lang }}/commands", target: "_self" },
      { name: "{{ 'terms_of_use' |i18n}}", link: "/{{ page.lang }}/commands", target: "_self" },
    ],
    Link: [
      { name: "Discord", link: "https://discord.gg/HD85SkybXY" },
      { name: "{{ 'addDiscord' |i18n}}", link: "https://discord.com/oauth2/authorize?client_id=1330992974556823662&permissions=280576&integration_type=0&scope=bot" }
    ]
  }
  for (let key in contents) {
    let dl = document.createElement("dl");
    let dt = document.createElement("dt");
    dt.textContent = `${key}`;
    dl.appendChild(dt);
    contents[key].map(content => {
      let dd = document.createElement("dd")
      let link = document.createElement("a")
      link.textContent = content.name;
      link.href = content.link;
      link.target = content.target ? content.target : "_blank";
      dd.appendChild(link);
      dl.appendChild(dd);
    })
    footer.appendChild(dl)
  }
</script>