---
title: ScraBot
---

<!doctype html>
<html lang="{{ page.lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ 'description' | i18n }}">
    <link rel="stylesheet" href="/assets/styles/styles.css" onload="this.onload=null;">
    <title>{{ title }}</title>
  </head>
  <body>
    <header>
      <a href="/{{ page.lang }}">ScraBot</a>
      <select name="language" id="language">
        <option value="en">English</option>
        <option value="ja">日本語</option>
      </select>
    </header>

    <main>
    {% if banner %}
      <div class="banner">
        <h1>{{ banner }}</h1>
      </div>
    {% endif %}
    {{ content | safe }}
    </main>

    <footer>
      <div class="footer-content">
        <p>&copy; Masaabu</p>
      </div>
    </footer>
  </body>
</html>

<script>
const footer = document.querySelector("footer>.footer-content")
  const contents = {
    Pages: [
      { name: "{{ 'commands' |i18n}}", link: "/{{ page.lang }}/commands", target: "_self" },
      { name: "{{ 'terms_of_use' |i18n}}", link: "/{{ page.lang }}/commands", target: "_self" },
    ],
    Link: [
      { name: "Discord", link: "https://discord.gg/HD85SkybXY" },
      { name: "{{ 'addDiscord' |i18n}}", link: "https://discord.com/oauth2/authorize?client_id=1330992974556823662&permissions=280576&integration_type=0&scope=bot" }
    ]
  }
  for (let key in contents) {
    let dl = document.createElement("dl");
    let dt = document.createElement("dt");
    dt.textContent = `${key}`;
    dl.appendChild(dt);
    contents[key].map(content => {
      let dd = document.createElement("dd")
      let link = document.createElement("a")
      link.textContent = content.name;
      link.href = content.link;
      link.target = content.target ? content.target : "_blank";
      dd.appendChild(link);
      dl.appendChild(dd);
    })
    footer.appendChild(dl)
  }
  
  const select = document.getElementById('language');
  select.value = "{{ page.lang }}";
  select.addEventListener('change', function () {
    window.location.href = `${window.location.pathname.replace("{{ page.lang }}", select.value)}`;
  });
</script>